.App {
  text-align: center;
}

#header-container {
  padding-top: 100px;
  padding-bottom: 50px;
  max-width: 100%;
  background-color: lightcoral;
}

#counters {
  color: white;
}

#card-container {
  margin-top: 100px;
}

.card {
  width: 180px;
}



.subtitle, #counters {
  font-family: 'Roboto', sans-serif;
}